/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Barra superior */
header {
    background-color: #f8a8b9;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

/* Botón de cerrar sesión */
.logout-button {
    background-color: #d11a2a;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo del menú lateral */
.sidebar {
    width: 200px;
    background-color: #f5f5f5;
    padding: 10px;
    height: calc(100vh - 40px); /* Adjust based on header height */
    position: fixed;
    top: 40px; /* Adjust based on header height */
    left: 0;
    border-right: 1px solid #ddd;
    z-index: 5;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

.sidebar li:hover {
    background-color: #ddd;
}

.dropdown-content {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

/* Mostrar el dropdown activo */
.dropdown.active .dropdown-content {
    max-height: 500px; /* Ajusta según tu contenido */
    transition: max-height 0.4s ease-in;
}

/* Estilo opcional para los ítems del dropdown */
.dropdown-content li {
    padding: 8px;
    font-size: 16px;
    border-bottom: none;
}

.dropdown-content li:hover {
    background-color: #f8a8b9;
    color: #fff;
}

.content {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 200px; /* Adjust based on sidebar width */
    padding: 20px;
    padding-top: 60px; /* Adjust based on header height */
    background-color: #f8a8b9; /* Background color to match the image */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    background-color: #f8a8b9;
    padding: 20px;
    border-radius: 10px;
}

.rentability-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
select,
input[type="file"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #d11a2a;
    border-radius: 5px;
    cursor: pointer;
    color: #d11a2a;
    font-weight: bold;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #d11a2a;
    color: #fff;
}

.month-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.month-button {
    background-color: #f8a8b9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    transition: background-color 0.3s;
}

.month-button:hover {
    background-color: #d11a2a;
    color: #fff;
}

.consultar-button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #d11a2a;
    border-radius: 5px;
    cursor: pointer;
    color: #d11a2a;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.consultar-button:hover {
    background-color: #d11a2a;
    color: #fff;
}

table {
    width: 130%; /* Adjusted width to make the table wider */
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table thead th {
    background-color: #f4f4f4;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#Ver_Productos, #Actualizar_Producto {
    display: none; /* Hide sections by default */
}

#Ver_Productos.active, #Actualizar_Producto.active {
    display: block; /* Show the active section */
}