<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Actualizar Productos</title>
</head>
<body>
    <header>
        <h1>Sistema de administración</h1>
        <button class="logout-button">
            <img src="logout-icon.png" alt="Cerrar sesión">
        </button>
    </header>
    <!-- Menú lateral -->
    <aside class="sidebar">
        <ul>
            <li class="dropdown">
                <div class="menu-item">📦 Productos</div>
                <ul class="dropdown-content">
                    <li>Ver Productos</li>
                    <li><a href="Agregar_Productos_Local1.html">Agregar Productos Local 1</a></li>
                    <li><a href="Agregar_Productos_Local2.html">Agregar Productos Local 2</a></li>
                    <li><a href="Actualizar_Productos.html">Actualizar Productos</a></li>
                    <li><a href="Actualizar_Marcas.html">Actualizar Marca</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <div class="menu-item">🤝 Proveedores</div>
                <ul class="dropdown-content">
                    <li>Actualizar proveedores</li>
                </ul>
            </li>
            <li class="dropdown">
                <div class="menu-item">💸 Ventas</div>
                <ul class="dropdown-content">
                    <li>Informe de venta</li>
                    <li>Rentabilidad</li>
                    <li>Local 1</li>
                    <li>Local 2</li>
                </ul>
            </li>
            <li class="dropdown">
                <div class="menu-item">👥 Empleados</div>
                <ul class="dropdown-content">
                    <li>Lista de empleados</li>
                    <li>Actualizar empleado</li>
                </ul>
            </li>
            <li class="dropdown">
                <div class="menu-item">🚚 Deliveries</div>
                <ul class="dropdown-content">
                    <li>Local 1</li>
                    <li>Local 2</li>
                </ul>
            </li>
        </ul>
    </aside>

    <!-- Contenido central -->
    <main class="content" style="background-color: #f8a8b9;">
        <h2>ACTUALIZAR PRODUCTOS</h2>
        <form>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="update-name">
            </div>
            <div class="form-group">
                <label for="branch">Sucursal</label>
                <div>
                    <input type="checkbox" id="tienda1">
                    <label for="local2">Tienda 1</label>
                </div>
                <div>
                    <input type="checkbox" id="tienda2">
                    <label for="local2">Tienda 2</label>
                </div>
            </div>
            <div class="form-group">
                <label for="price">Precio</label>
                <input type="number" id="Price">
            </div>
            <button type="submit">Actualizar</button>
        </form>
    </main>
    <script src="../static/script.js"></script>
</body>
</html>