<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Sistema de administración</title>
</head>
<body>
    <header>
        <h1>Sistema de administración</h1>
        <button class="logout-button">
            <img src="logout-icon.png" alt="Cerrar sesión">
        </button>
    </header>
    <!-- Menú lateral -->
    <aside class="sidebar">
        <ul>
            <li class="dropdown">
                <div class="menu-item">📦 Productos</div>
                <ul class="dropdown-content">
                    <li><a href="index.html">Ver Productos</a></li>
                    <li><a href="Agregar_Productos_Local1.html">Agregar Productos Local 1</a></li>
                    <li><a href="Agregar_Productos_Local2.html">Agregar Productos Local 2</a></li>
                    <li><a href="Actualizar_Productos.html">Actualizar Productos</a></li>
                    <li><a href="Actualizar_Marcas.html">Actualizar Marca</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <div class="menu-item">🤝 Proveedores</div>
                <ul class="dropdown-content">
                    <li><a href="Actualizar_Proveedores.html">Actualizar Proveedores</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <div class="menu-item">💸 Ventas</div>
                <ul class="dropdown-content">
                    <li><a href="Informe_de_Ventas.html">Informe de Venta</a></li>
                    <li><a href="Rentabilidad.html">Rentabilidad</a></li>
                    <li><a href="Local1.html">Local 1</a></li>
                    <li><a href="Local2.html">Local 2</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <div class="menu-item">👥 Empleados</div>
                <ul class="dropdown-content">
                    <li><a href="Lista_de_Empleados.html">Lista de Empleados</a></li>
                    <li><a href="Actualizar_Empleado.html">Actualizar Empleado</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <div class="menu-item">🚚 Deliveries</div>
                <ul class="dropdown-content">
                    <li><a href="Deliveries_Local1.html">Local 1</a></li>
                    <li><a href="Deliveries_Local2.html">Local 2</a></li>
                </ul>
            </li>
        </ul>
    </aside>

    <!-- Contenido central -->
    <main class="content">
        <h1>ZC</h1>
        <p>ZULEYKAS CLOSET</p>
        <div id="rentability-date">
        </div>
    </main>
    <script src="../static/script.js"></script>
</body>
</html>