<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
  
    <title>Zuleyka's Closet</title>
</head>
<body>
    <section id="menú">
            <div class="rectangle">
                <header class="top-menu">
                    <div class="logo">
                        <h1>Zuleyka's Closet</h1>
                    </div>
                    <nav class="menu">
                        <ul>
                            <li class="dropdown">
                                <a href="#">Productos</a>
                                <ul class="dropdown-content">
                                    <li><a href="VerProductos.html">Ver Productos</a></li>
                                    <li><a href="Actualizar_Marcas.html">Actualizar Marcas</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Proveedores</a>
                                <ul class="dropdown-content">
                                    <li><a href="Actualizar_Proveedores.html">Actualizar Proveedores</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Ventas</a>
                                <ul class="dropdown-content">
                                    <li><a href="Informe_de_Ventas.html">Informe de Ventas</a></li>
                                    <li><a href="Rentabilidad.html">Rentabilidad</a></li>
                                    <li><a href="Local1.html">Crear Venta Local 1</a></li>
                                    <li><a href="Local2.html">Crear Venta Local 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <button class="logout-button">Cerrar Sesión</button>
                </header>
            </div>
            <div class="section-title-container">
                <div class="section-title">Lista de Productos</div>
            </div>
            <h1 class="outside-title">Zuleyka's Closet</h1>
            <p class="description-text">En este apartado podrá visualizar todos los productos registrados en el inventario. Además, tendrá la opción de agregar nuevos productos, actualizarlos y consultar su estado.</p>
          
    </section> 
          
            <main class="content">
    </main>
</body>
</html>