<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Lista de Empleados</title>
</head>
<body>
    <header>
        <h1>Sistema de administración</h1>
        <button class="logout-button">
            <img src="logout-icon.png" alt="Cerrar sesión">
        </button>
    </header>
    <!-- Menú lateral -->
    <aside class="sidebar">
        <ul>
            <li class="dropdown">
                <div class="menu-item">📦 Productos</div>
                <ul class="dropdown-content">
                    <li><a href="VerProductos.html">Ver Productos</a></li>
                    <li><a href="Agregar_Productos_Local1.html">Agregar Productos Local 1</a></li>
                    <li><a href="Agregar_Productos_Local2.html">Agregar Productos Local 2</a></li>
                    <li><a href="Actualizar_Marcas.html">Marca</a></li>
                </ul>
            </li>
            <li>
                <a href="Actualizar_Proveedores.html" class="menu-item">🤝 Proveedores</a>
            </li>
            <li class="dropdown">
                <div class="menu-item">💸 Ventas</div>
                <ul class="dropdown-content">
                    <li><a href="Informe_de_Ventas.html">Informe de Venta</a></li>
                    <li><a href="Rentabilidad.html">Rentabilidad</a></li>
                    <li><a href="Local1.html">Local 1</a></li>
                    <li><a href="Local2.html">Local 2</a></li>
                </ul>
            </li>
        </ul>
    </aside>

    <!-- Contenido central -->
    <main class="content">
        <section id="Lista_Empleados" style="display: none;">
            <form>
                <h2>Lista de Empleados</h2>
                <div class="form-group" style="display: flex; align-items: center; gap: 20px;">
                    <div style="flex: 1;">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre-empleado" name="nombre" required>
                    </div>
                    <div>
                        <button type="submit" class="submit-button">Mostrar</button>
                        <button type="submit" class="submit-button">Mostrar Todo</button>
                    </div>
                </div>
            </form>
        </section>
         <!-- Sección Actualizar Empleado -->
        <section id="Actualizar_Empleado" style="display: block;">
            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 10px;">
                <form>
                 <h2>Actualizar Empleado</h2>
                     <form>
                         <div class="form-group">
                         <label for="Nombre">Nombre</label>
                         <input type="text" id="actualizar-nombre">
                         </div>
                         <div class="form-group">
                             <label for="Apellido">Apellido</label>
                             <input type="text" id="actualizar-apellido">
                         </div>
                         
                             <div class="form-group">
                                 <label for="sucursal">Sucursal</label>
                                 <div>
                                     <input type="checkbox" id="tienda1">
                                     <label for="local2">Tienda 1</label>
                                 </div>
                                 <div>
                                     <input type="checkbox" id="tienda2">
                                     <label for="local2">Tienda 2</label>
                                 </div>
                             </div> 
         
                             <div class="form-group">
                                 <label for="Estado">Estado</label>
                                 <div>
                                     <input type="checkbox" id="Activo">
                                     <label for="Activo">Activo</label>
                                 </div>
                                 <div>
                                     <input type="checkbox" id="Inactivo">
                                     <label for="Inactivo">Inactivo</label>
                                 </div>
                             </div> 
                         
                             <div><button type="submit" class="btn">Actualizar</button>
                                 <button type="submit" class="btn">Cancelar</button>
                             </div>  
                             
                     </form>  
         
                </form>    
             </div> 
        </section>


    </main>
    <script src="/script.js"></script>
</body>
</html>