<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Local Tienda 1</title>
</head>

<body>
    <header>
        <h1>Sistema de administración</h1>
        <button class="logout-button">
            <img src="logout-icon.png" alt="Cerrar sesión">
        </button>
    </header>
    <!-- Menú lateral -->
    <aside class="sidebar">
        <ul>
            <li class="dropdown">
                <div class="menu-item">📦 Productos</div>
                <ul class="dropdown-content">
                    <li><a href="VerProductos.html">Ver Productos</a></li>
                    <li><a href="Agregar_Productos_Local1.html">Agregar Productos Local 1</a></li>
                    <li><a href="Agregar_Productos_Local2.html">Agregar Productos Local 2</a></li>
                    <li><a href="Actualizar_Marcas.html">Marca</a></li>
                </ul>
            </li>
            <li>
                <a href="Actualizar_Proveedores.html" class="menu-item">🤝 Proveedores</a>
            </li>
            <li class="dropdown">
                <div class="menu-item">💸 Ventas</div>
                <ul class="dropdown-content">
                    <li><a href="Informe_de_Ventas.html">Informe de Venta</a></li>
                    <li><a href="Rentabilidad.html">Rentabilidad</a></li>
                    <li><a href="Local1.html">Local 1</a></li>
                    <li><a href="Local2.html">Local 2</a></li>
                </ul>
            </li>
            <li>
                <a href="Lista_de_Empleados.html" class="menu-item">👥 Empleados</a>
            </li>
            <li class="dropdown">
                <div class="menu-item">🚚 Deliveries</div>
                <ul class="dropdown-content">
                    <li><a href="Deliveries_Local1.html">Local 1</a></li>
                    <li><a href="Deliveries_Local2.html">Local 2</a></li>
                </ul>
            </li>
        </ul>
    </aside>

    <!-- Contenido central -->
    <main class="content">
        <form>
            <h2>Crear Venta Local 1</h2>
            <div class="form-group">
                <label for="empleado">Empleado</label>
                <select id="empleadol1">
                    <option value="ninguno">Ninguno</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cliente">Cliente</label>
                <input type="text" id="clientel1">
            </div>
            <div class="form-group">
                <label for="productos">Productos</label>
                <select id="productosl1">
                    <option value="ninguno">Ninguno</option>
                </select>
            </div>
            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 10px;">
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="number" id="stockl1" value="0" readonly style="width: 80px;">
                </div>
                <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" id="cantidadl1" value="0" style="width: 80px;">
                </div>
                <div class="form-group">
                    <label for="subtotal">Subtotal</label>
                    <input type="number" id="subtotall1" value="0" readonly style="width: 80px;">
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" id="preciol1" value="0" readonly style="width: 80px;">
                </div>
                <div>
                    <label for="total">Total</label>
                    <input type="number" id="totall1" readonly style="width: 80px;">
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr ; gap: 10px;">
                <button type="submit" id="agregar">Agregar</button>
                <button type="submit" id="Eliminar">Cancelar</button>
                <button type="submit" id="pagar">Finalizar</button>
            </div>
        </form>
    </main>
    <script src="/script.js"></script>
    <script src="/realizarventa.js"></script>
    <select id="select-categorias">
        <option value="">Seleccione una categoría</option>
    </select>

    <script>
        async function cargarProductos() {
            try {
                const res = await fetch('http://localhost:3000/api/productos');
                const categorias = await res.json();

                const select = document.getElementById('productosl1');
                categorias.forEach(cat => {
                    const option = document.createElement('option');
                    option.value = cat.codigo_categoria;
                    option.textContent = cat.nombre;
                    select.appendChild(option);
                });
            } catch (err) {
                console.error('Error cargando productos:', err);
            }
            try {
                const res = await fetch('http://localhost:3000/api/empleado');
                const categorias = await res.json();

                console.log("in")
                const select = document.getElementById('empleadol1');
                categorias.forEach(cat => {
                    const option = document.createElement('option');
                    option.value = cat.codigo_empleado;
                    option.textContent = cat.nombre;
                    select.appendChild(option);
                });
            } catch (err) {
                console.error('Error cargando empleados:', err);
            }
        }




        window.addEventListener('DOMContentLoaded', cargarCategorias);
    </script>

</body>

</html>