<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Agregar Productos Local 1</title>
</head>
<body>
    <header>
        <h1>Sistema de administración</h1>
        <button class="logout-button">
            <img src="logout-icon.png" alt="Cerrar sesión">
        </button>
    </header>
    <!-- Menú lateral -->
    <aside class="sidebar">
        <ul>
            <li class="dropdown">
                <div class="menu-item">📦 Productos</div>
                <ul class="dropdown-content">
                    <li>Ver Productos</li>
                    <li><a href="Agregar_Productos_Local1.html">Agregar Productos Local 1</a></li>
                    <li><a href="Agregar_Productos_Local2.html">Agregar Productos Local 2</a></li>
                    <li><a href="Actualizar_Productos.html">Actualizar Productos</a></li> 
                    <li><a href="Actualizar_Marcas.html"> Marca </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <div class="menu-item">🤝 Proveedores</div>
                <ul class="dropdown-content">
                    <li><a href="Actualizar_Proveedores.html">Actualizar proveedores</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <div class="menu-item">💸 Ventas</div>
                <ul class="dropdown-content">
                    <li><a href="Informe_de_Ventas.html">Informe de venta</a></li>
                    <li>Rentabilidad</li>
                    <li>Local 1</li>
                    <li>Local 2</li>
                </ul>
            </li>
            <li class="dropdown">
                <div class="menu-item">👥 Empleados</div>
                <ul class="dropdown-content">
                    <li>Lista de empleados</li>
                    <li>Actualizar empleado</li>
                </ul>
            </li>
            <li class="dropdown">
                <div class="menu-item">🚚 Deliveries</div>
                <ul class="dropdown-content">
                    <li>Local 1</li>
                    <li>Local 2</li>
                </ul>
            </li>
        </ul>
    </aside>

   <!-- Contenido central -->
   <main class="content" style="background-color: #f8a8b9;">
    <h2>Rentabilidad</h2>
    <form>
        <label for="sales-date">Fecha de venta </label>
        <div class="form-group">
            <label for="start-date">Inicio </label>
            <input type="date" id="start-date">
        </div>
    </form>
</main>

    <script src="../static/script.js"></script>
</body>
</html>    